{% extends "layout.html" %}

{% block title %}
YOUR TWEETS
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8">
        <h1 class="text-center mt-4">Welcome to Our Tweet Page</h1>
    </div>
</div>
<h2>{% if for.instance.pk %} Edit Tweet {% else %} Create Tweet {% endif %}</h2>
<form method="post" enctype="multipart/form-data" class="form p-4 shadow-lg">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-warning" type="submit">Submit</button>
</form>
<a href="{% url 'tweet_list' %}">Back to tweet list</a>
{% endblock %}